[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-ssd1306 = "*"
spotipy = "*"
"rpi.gpio" = "*"
pyaudio = "*"
adafruit-circuitpython-tca9548a = "*"
pywhispercpp = {extras = ["examples"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
